@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: #666666;
}

body {
  background-color: #F0F0F0;
  font-size: 12px;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 57px;
  padding-top: 52px;
  padding-bottom: 34px;
  padding-left: 200px;
}

.header .header_nr {
  height: 100%;
}

.header .header_nr a {
  float: left;
}

.header .header_nr h2 {
  text-shadow: 1px 1px #506b1a, 2px 2px #506b1a, 3px 3px #506b1a, 4px 4px #506b1a, 5px 5px #506b1a, 6px 6px #506b1a, 7px 7px #506b1a, 8px 8px #506b1a, 9px 9px #506b1a, 10px 10px #506b1a, 11px 11px #506b1a, 12px 12px #506b1a, 13px 13px #506b1a, 14px 14px #506b1a, 15px 15px #506b1a, -1px 1px olivedrab, -2px 2px olivedrab, -3px 3px olivedrab, -4px 4px olivedrab, -5px 5px olivedrab, -6px 6px olivedrab, -7px 7px olivedrab, -8px 8px olivedrab, -9px 9px olivedrab, -10px 10px olivedrab, -11px 11px olivedrab, -12px 12px olivedrab, -13px 13px olivedrab, -14px 14px olivedrab, -15px 15px olivedrab, -1px -1px #90aa5a, -2px -2px #90aa5a, -3px -3px #90aa5a, -4px -4px #90aa5a, -5px -5px #90aa5a, -6px -6px #90aa5a, -7px -7px #90aa5a, -8px -8px #90aa5a, -9px -9px #90aa5a, -10px -10px #90aa5a, -11px -11px #90aa5a, -12px -12px #90aa5a, -13px -13px #90aa5a, -14px -14px #90aa5a, -15px -15px #90aa5a, 1px -1px olivedrab, 2px -2px olivedrab, 3px -3px olivedrab, 4px -4px olivedrab, 5px -5px olivedrab, 6px -6px olivedrab, 7px -7px olivedrab, 8px -8px olivedrab, 9px -9px olivedrab, 10px -10px olivedrab, 11px -11px olivedrab, 12px -12px olivedrab, 13px -13px olivedrab, 14px -14px olivedrab, 15px -15px olivedrab, 0 -1px #364712, 0 -2px #364712, 0 -3px #364712, 0 -4px #364712, 0 -5px #364712, 0 -6px #364712, 0 -7px #364712, 0 -8px #364712, 0 -9px #364712, 0 -10px #364712, 0 -11px #364712, 0 -12px #364712, 0 -13px #364712, 0 -14px #364712, 0 -15px #364712, 0 1px #364712, 0 2px #364712, 0 3px #364712, 0 4px #364712, 0 5px #364712, 0 6px #364712, 0 7px #364712, 0 8px #364712, 0 9px #364712, 0 10px #364712, 0 11px #364712, 0 12px #364712, 0 13px #364712, 0 14px #364712, 0 15px #364712, -1px 0 #90aa5a, -2px 0 #90aa5a, -3px 0 #90aa5a, -4px 0 #90aa5a, -5px 0 #90aa5a, -6px 0 #90aa5a, -7px 0 #90aa5a, -8px 0 #90aa5a, -9px 0 #90aa5a, -10px 0 #90aa5a, -11px 0 #90aa5a, -12px 0 #90aa5a, -13px 0 #90aa5a, -14px 0 #90aa5a, -15px 0 #90aa5a, 1px 0 #364712, 2px 0 #364712, 3px 0 #364712, 4px 0 #364712, 5px 0 #364712, 6px 0 #364712, 7px 0 #364712, 8px 0 #364712, 9px 0 #364712, 10px 0 #364712, 11px 0 #364712, 12px 0 #364712, 13px 0 #364712, 14px 0 #364712, 15px 0 #364712;
  font: 100 150px/1 Alegreya Sans;
  letter-spacing: 20px;
  text-align: center;
  color: red;
  font-size: 20px;
  float: left;
  padding: 15px 0 0 20px;
}

.header .header_nr .header_text {
  width: 540px;
  height: 40px;
  line-height: 20px;
  margin-left: 440px;
  padding: 5px 10px;
  background-color: #fdf7e9;
  border: 1px solid #edae1b;
  color: #666;
}

.main {
  background: #a7e0f3;
  position: relative;
  width: auto;
  height: 480px;
  margin: 0 auto;
}

.main .main_bg {
  width: 998px;
  height: 480px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main .main_bg #Register {
  width: 340px;
  height: 360px;
  position: absolute;
  top: 50px;
  right: 0;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  clear: right;
  border-radius: 3px;
  display: none;
}

.main .main_bg #Register .l_r_title {
  width: 100%;
  height: 24px;
  padding: 18px 0 18px 0;
  font-size: 20px;
  color: #666;
  font-family: 微软雅黑;
  text-align: center;
  color: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.main .main_bg #Register .l_r_title .active {
  color: #89b929 !important;
}

.main .main_bg #Register .l_r_title label {
  margin: 0 40px;
  cursor: pointer;
  color: #666666;
}

.main .main_bg #Register .j_saoma {
  text-align: center;
  font-size: 0px;
}

.main .main_bg #Register .j_saoma .l_qrcode_content {
  display: inline-block;
  width: 142px;
  height: 200px;
  margin-top: 25px;
  vertical-align: middle;
  position: relative;
}

.main .main_bg #Register .j_saoma .l_qrcode_content img {
  width: 142px;
  height: 142px;
  cursor: pointer;
}

.main .main_bg #Register .j_saoma .l_qrcode_content .l_tip_text {
  position: relative;
  margin-top: 16px;
}

.main .main_bg #Register .j_saoma .l_qrcode_content .l_tip_text i {
  position: absolute;
  left: -6px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../img/allbgs.png) no-repeat;
  background-position: -118px -15px;
}

.main .main_bg #Register .j_saoma .l_qrcode_content .l_tip_text label {
  position: absolute;
  right: -6px;
  top: 1px;
  display: block;
  font-size: 12px;
  color: #999999;
  text-align: left;
  line-height: 18px;
}

.main .main_bg #Register .j_saoma .l_qrcode_content .l_tip_text label:hover a {
  color: #8784fb;
}

.main .main_bg #Register .j_saoma .l_qrcode_content .l_tip_text label a {
  color: #ff6600;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

.main .main_bg #Register .j_saoma .l_tip_app {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 25px -30px 0 19px;
  vertical-align: middle;
  cursor: pointer;
}

.main .main_bg #Register .l_r_cont_botton {
  height: 60px;
  padding: 0 20px;
  background-color: #ebebf1;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.main .main_bg #Register .l_r_cont_botton .weixin,
.main .main_bg #Register .l_r_cont_botton .qq,
.main .main_bg #Register .l_r_cont_botton .sina,
.main .main_bg #Register .l_r_cont_botton .zhifubao {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  background: #ebebf1 url(../img/allbgs.png) no-repeat;
  margin: 14px 8px 0 0;
  cursor: pointer;
  border-radius: 18px;
}

.main .main_bg #Register .l_r_cont_botton .weixin {
  background-position: -120px -74px;
}

.main .main_bg #Register .l_r_cont_botton .qq {
  background-position: 0 -74px;
}

.main .main_bg #Register .l_r_cont_botton .sina {
  background-position: -40px -74px;
}

.main .main_bg #Register .l_r_cont_botton .zhifubao {
  background-position: -80px -74px;
}

.main .main_bg #Register .l_r_cont_botton .toRegister {
  float: right;
  line-height: 60px;
  color: #f60;
}

.main .main_bg #Register .l_r_cont_botton .toRegister a {
  color: #f60;
  font-size: 14px;
}

.main .main_bg #Register .l_r_cont_botton .toRegister a i {
  float: right;
  width: 16px;
  height: 16px;
  margin: 22px 0 0 5px;
  background: url(../img/tubiao.png) no-repeat;
  background-position: -412px -940px;
}

.main .main_bg #Register .j_zhanghao {
  width: 280px;
  margin: 0 auto;
}

.main .main_bg #Register .j_zhanghao .ts {
  margin-top: 13px;
  font-size: 15px;
  color: red;
}

.main .main_bg #Register .j_zhanghao .r_username {
  padding-top: 10px;
}

.main .main_bg #Register .j_zhanghao .r_username p {
  position: relative;
}

.main .main_bg #Register .j_zhanghao .r_username p span {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 36px;
  top: 0;
  left: 0;
  background: url(../img/allbgs.png) no-repeat;
  background-position: -62px 4px;
}

.main .main_bg #Register .j_zhanghao .r_username p b {
  position: absolute;
  top: 11px;
  left: 38px;
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #b7b5b5;
}

.main .main_bg #Register .j_zhanghao .r_username p #UserName {
  outline: none;
  width: 230px;
  padding-left: 48px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #bdbdbd;
  color: #666;
  font-size: 14px;
  background-color: #fff;
}

.main .main_bg #Register .j_zhanghao .r_pwd {
  padding-top: 20px;
}

.main .main_bg #Register .j_zhanghao .r_pwd p {
  position: relative;
}

.main .main_bg #Register .j_zhanghao .r_pwd p span {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 36px;
  top: 0;
  left: 0;
  background: url(../img/allbgs.png) no-repeat;
  background-position: -62px -31px;
}

.main .main_bg #Register .j_zhanghao .r_pwd p b {
  position: absolute;
  top: 11px;
  left: 38px;
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #b7b5b5;
}

.main .main_bg #Register .j_zhanghao .r_pwd p #Password_dl {
  outline: none;
  width: 230px;
  padding-left: 48px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #bdbdbd;
  color: #666;
  font-size: 14px;
  background-color: #fff;
}

.main .main_bg #Register .j_zhanghao .r_remeber {
  margin-top: 10px;
}

.main .main_bg #Register .j_zhanghao .r_remeber span {
  font-size: 15px;
}

.main .main_bg #Register .j_zhanghao .r_remeber a {
  float: right;
  color: #ff6600;
  font-size: 13px;
}

.main .main_bg #Register .j_zhanghao .r_submit {
  margin-top: 16px;
}

.main .main_bg #Register .j_zhanghao .r_submit #log-btn {
  cursor: pointer;
  background: #999;
  width: 280px;
  height: 40px;
  letter-spacing: 34px;
  padding-left: 35px;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  font-weight: 400;
  border: 0;
  outline: none;
}

.main .main_bg #Register1 {
  width: 340px;
  height: 400px;
  position: absolute;
  top: 40px;
  right: 0;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  clear: right;
  border-radius: 3px;
  display: none;
}

.main .main_bg #Register1 .zhuce {
  margin: 30px 30px 0 30px;
  height: 40px;
  line-height: 40px;
}

.main .main_bg #Register1 .zhuce h3 {
  color: #f60;
  font-size: 22px;
  float: left;
  font-weight: bold;
}

.main .main_bg #Register1 .zhuce .zhuce_dl {
  float: right;
}

.main .main_bg #Register1 .zhuce .zhuce_dl a {
  font-size: 12px;
  color: #f60;
  display: inline;
  padding-right: 5px;
  vertical-align: inherit;
}

.main .main_bg #Register1 .zhuce .zhuce_dl a i {
  width: 16px;
  height: 16px;
  margin-top: 12px;
  background: url(../img/tubiao.png) no-repeat;
  overflow: hidden;
  background-position: -412px -940px;
  float: right;
}

.main .main_bg #Register1 .personal_data {
  width: 280px;
  margin: 15px auto;
}

.main .main_bg #Register1 .personal_data .data_main li {
  position: relative;
  height: 38px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
}

.main .main_bg #Register1 .personal_data .data_main li #v_container #verifyCanvas {
  position: absolute;
  top: 2px;
  right: 3px;
  width: 107px;
  height: 34px;
}

.main .main_bg #Register1 .personal_data .data_main li label {
  position: absolute;
  left: 6px;
  top: 8px;
  width: 36px;
  height: 18px;
  text-align: center;
  z-index: 9;
}

.main .main_bg #Register1 .personal_data .data_main li label i {
  background: url(../img/tubiao.png) no-repeat;
  overflow: hidden;
  float: left;
  width: 27px;
  height: 27px;
  line-height: 24px;
  margin-top: -2px;
}

.main .main_bg #Register1 .personal_data .data_main li b {
  position: absolute;
  left: 38px;
  top: 11px;
  width: 1px;
  height: 17px;
  background-color: #bdbdbd;
  z-index: 10;
}

.main .main_bg #Register1 .personal_data .data_main li input {
  width: 235px;
  position: relative;
  height: 38px;
  line-height: 38px;
  float: left;
  text-indent: 5px;
  border: 0px;
  outline: none;
  font-size: 18px;
  padding-left: 43px;
  background-color: #fff;
}

.main .main_bg #Register1 .personal_data .data_main li #mam {
  width: 104px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  background-color: #999;
  margin: 3px;
  text-align: center;
  position: absolute;
  right: 0;
}

.main .main_bg #Register1 .personal_data .data_main li:hover {
  border: 1px solid #90c31f;
}

.main .main_bg #Register1 .personal_data .data_footer #hint {
  color: #f60;
  width: 280px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: left;
}

.main .main_bg #Register1 .personal_data .data_footer #Register_Btn {
  margin-bottom: 7px;
  border: 0;
  cursor: pointer;
  background: #999;
  color: #fff;
  font-size: 16px;
  width: 280px;
  height: 36px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 2px;
}

.main .main_bg #Register1 .personal_data .data_footer .right_bottom {
  margin-top: 2px;
}

.main .main_bg #Register1 .personal_data .data_footer .right_bottom #agreement {
  color: #6d9d03;
}

.main_cg {
  position: relative;
  width: auto;
  height: 480px;
  margin: 0 auto;
}

.main_cg .main_nr {
  width: 998px;
  height: 480px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main_cg .main_nr .regesuce {
  height: 240px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}

.main_cg .main_nr .regesuce .fl_context {
  display: inline-block;
  width: 460px;
  height: 240px;
  position: relative;
}

.main_cg .main_nr .regesuce .fl_context i {
  width: 236px;
  height: 132px;
  position: absolute;
  top: 40px;
  right: 0;
  background: url(../img/winimg.png) no-repeat;
}

.main_cg .main_nr .regesuce .fr_content {
  display: inline-block;
  width: 400px;
  height: 240px;
  position: relative;
}

.main_cg .main_nr .regesuce .fr_content .content_imf {
  position: absolute;
  top: 55px;
  width: 90%;
  height: 150px;
  left: 30px;
}

.main_cg .main_nr .regesuce .fr_content .content_imf h1 {
  font-size: 18px;
  color: #ff6600;
  font-weight: bold;
  letter-spacing: 1px;
}

.main_cg .main_nr .regesuce .fr_content .content_imf p {
  font-size: 13px;
  margin-top: 14px;
  color: #999;
}

.main_cg .main_nr .regesuce .fr_content .content_imf a {
  display: inline-block;
  width: 130px;
  height: 35px;
  line-height: 35px;
  background: #ff6600;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  margin-top: 25px;
}

.main_cg .main_nr .perfectaccount {
  height: 138px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.main_cg .main_nr .perfectaccount .perfecttitle {
  font-size: 15px;
  color: #333;
  padding: 10px;
  line-height: 18px;
  height: 18px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: bold;
}

.main_cg .main_nr .perfectaccount .perfecleft {
  border-right: 1px solid #e3e3e3;
  float: left;
  width: 493px;
  height: 59px;
  padding: 20px 0;
  line-height: 20px;
  color: #666;
}

.main_cg .main_nr .perfectaccount .perfecleft .perfec_div {
  float: left;
  width: 150px;
}

.main_cg .main_nr .perfectaccount .perfecleft .perfec_div i {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 10px;
  background-image: url(../img/allbgs.png);
  background-position: 0 -237px;
}

.main_cg .main_nr .perfectaccount .perfecleft .left_div {
  margin-top: 8px;
  color: #999;
  font-size: 12px;
}

.main_cg .main_nr .perfectaccount .perfecleft .left_div a {
  color: #90c320;
  font-size: 13px;
}

.main_cg .main_nr .perfectaccount .perfecright {
  float: left;
  width: 493px;
  height: 59px;
  padding: 20px 0;
  line-height: 20px;
  color: #666;
}

.main_cg .main_nr .perfectaccount .perfecright .perfec_div {
  float: left;
  width: 150px;
}

.main_cg .main_nr .perfectaccount .perfecright .perfec_div i {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 10px;
  background-image: url(../img/allbgs.png);
  background-position: 0 -177px;
}

.main_cg .main_nr .perfectaccount .perfecright .right_div {
  margin-top: 8px;
  color: #999;
  font-size: 12px;
}

.main_cg .main_nr .perfectaccount .perfecright .right_div a {
  color: #90c320;
  font-size: 13px;
}

.wide-Footer {
  padding-top: 0;
  box-shadow: none;
  color: #999;
  margin-top: 20px;
}

.wide-Footer .footer_nr {
  text-align: center;
  height: 150px;
  position: relative;
  width: 1190px;
  margin: 0px auto;
  padding: 14px 0;
}

.wide-Footer .footer_nr a:hover {
  color: red;
}

.wide-Footer .footer_nr a {
  margin-right: 5px;
  color: #999;
}

.wide-Footer .footer_attestation {
  width: 462px;
  background: url(../img/FTC-01-bg3.jpg);
  margin: 20px auto;
  height: 40px;
  display: flex;
}

.wide-Footer .footer_attestation a {
  flex: 1;
}

.gvrp {
  height: 100%;
  background-color: #e3e3e3;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

.gvrp #gvrp_nr {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #333333;
  background-color: #f3f3f3;
  margin-bottom: 1px;
  padding-left: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px #c4c4c4 solid;
}

.gvrp #gvrp_nr #pop_close {
  background: url(../img/close.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.gvrp #gvrp_nr .pop_content {
  width: 940px;
  height: 474px;
  background-color: #fff;
  line-height: 20px;
  position: relative;
}

.gvrp #gvrp_nr .pop_content .pop_text {
  width: 920px;
  height: 350px;
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0px 0px 30px 15px;
  padding-top: 15px;
}

.gvrp #gvrp_nr .pop_content #pop_active {
  width: 322px;
  height: 34px;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #ccc;
  color: #fff;
  margin: auto;
  cursor: pointer;
}
